body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding-top: 44px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    padding: 0;
    margin: 0;
}

div,
p,
a,
img,
button {
    box-sizing: border-box;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    padding: 8px 12px 8px 35px;
    background-color: #fff;
    background-position: left 10px center;
    background-repeat: no-repeat;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
}

.input-address {
    flex: 0.8;
    background-image: url(../img/home.svg);
}

.input-search {
    margin-left: auto;
    width: 306px;
    background-image: url(../img/search.svg);
}

.buttons {
    display: flex;
    align-items: center;
}

.user-name {
    display: none;
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
}

.button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}

.button-primary {
    margin-right: 10px;
    border: 1px solid #1890ff;
    border-radius: 2px;
    background-color: #1890ff;
    color: #fff;
}

.button-out {
    display: none;
    margin: 0 5px;
}

.button-out .button-icon {
    width: 16px;
    height: 24px;
}

.card-buttons .button-primary {
    margin: 0;
}

.button-icon {
    margin-right: 6px;
}

.button-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.button-card-text {
    margin-right: 4px;
}

.main {
    padding-bottom: 60px;
    background: linear-gradient(
        180deg,
        rgba(245, 245, 245, 0) 1.04%,
        #f5f5f5 100%
    );
}

.swiper {
    z-index: 0;
}

.promo {
    margin-bottom: 56px;
    height: 300px;
    padding: 68px 70px;
    border-radius: 10px;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
}

.promo-title {
    font-weight: 700;
    font-size: 39px;
    line-height: 46px;
    margin-bottom: 15px;
    color: #302c34;
}

.promo-text {
    font-size: 24px;
    line-height: 28px;
    max-width: 510px;
    color: #302c34;
}

.pizza {
    background: #fff1b8 url(../img/promo/pizza.png) no-repeat top -100px right -250px / 830px;
}

.kebab {
    background: #D6E4FF url(../img/promo/kebab.png) no-repeat top 45px right 40px / 450px;
}

.vegetables {
    background: #FFF566 url(../img/promo/vegetables.png) no-repeat top 0 right 0 / 825px;
}

.sushi {
    background: #FFF1F0 url(../img/promo/sushi.png) no-repeat top 10px right 15px / 500px;
}

.section-heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 44px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex-basis: 32%;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    text-decoration: none;
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-image-rest {
    width: 100%;
}

.card-text {
    padding: 20px 23px 35px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000;
}

.card-title-reg {
    font-weight: 400;
}

.card-buttons {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.card-price-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-left: 32px;
}

.card-tag {
    padding: 1px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    background-color: #262626;
    border-radius: 2px;
}

.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-rest-info {
    margin-left: 30px;
}

.rating {
    margin-right: 26px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #ffc107;
}

.rating-star {
    margin-right: 7px;
}

.price,
.category,
.ingredients {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8c8c8c;
}

.price {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.price::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    border-radius: 50%;
}

.category {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ingredients {
    line-height: 21px;
}

.card-rest .ingredients {
    min-height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.footer {
    padding: 60px 0;
}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
}

.footer-link:not(:last-child) {
    margin-right: 15px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link:not(:last-child) {
    margin-right: 21px;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.modal-active {
    display: flex;
}

.modal-dialog {
    margin: auto;
    padding: 40px 45px;
    max-width: 780px;
    width: 95%;
    background: #fff;
    border-radius: 5px;
}

.modal-dialog-auth {
    position: relative;
    width: auto;
}

.label-auth {
    display: block;
    margin: 30px;
}

.label-auth span {
    display: inline-block;
    width: 80px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.modal-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.close {
    cursor: pointer;
    font-size: 36px;
    border: none;
    background-color: transparent;
}

.close-auth {
    position: absolute;
    top: 10px;
    right: 20px;
}

.food-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}

.food-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.food-counter {
    display: flex;
    align-items: center;
}

.counter-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #40a9ff;
    border-radius: 2px;
    font-size: 14px;
    line-height: 22px;
    color: #40a9ff;
}

.counter {
    margin: 0 10px;
    font-size: 16px;
    line-height: 24px;
}

.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-size: 20px;
    line-height: 32px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.modal-pricetag {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding: 15px 20px;
    background: #262626;
    border-radius: 5px;
    color: #fff;
}

.footer-buttons {
    display: flex;
    align-items: center;
}

@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }

    .pizza {
        background-position: center right -300px;
        background-size: 750px;
    }


    .kebab {
        background-position: top -5px right -93px;
        background-size: 530px;
    }

    .vegetables {
        background-position: top 0 right -93px;
        background-size: 820px;
    }

    .sushi {
        background-position: center right -90px;
    }

    .rating {
        margin-right: 15px;
    }

    .card-rest {
        min-height: 412px;
    }

    .card .price,
    .card .category,
    .ingredients {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .pizza {
        padding: 50px;
        background-size: 500px;
        background-position: center right -200px;
    }


    .kebab {
        background-position: top 55px right -100px;
        background-size: 385px;
    }

    .vegetables {
        background-position: top 0 right -280px;
        background-size: 810px;
    }

    .sushi {
        background-position: top 30px right -175px;
    }

    .promo {
        padding: 50px;
    }

    .promo-title {
        font-size: 32px;
    }

    .promo-text {
        font-size: 18px;
        max-width: 400px;
    }

    .card {
        flex-basis: 48%;
    }

    .card-rest {
        flex-basis: 48%;
        min-height: 441px;
    }

    .footer-link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .header {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .input-address {
        flex: 1;
        order: 3;
        margin-top: 20px;
    }

    .pizza {
        background-size: 400px;
        background-position: bottom 50px right -200px;
    }


    .kebab {
        background-position: top -5px right -74px;
        background-size: 300px;
    }

    .vegetables {
        background-position: top 0 right -240px;
        background-size: 702px;
    }

    .sushi {
        background-position: top -24px right -75px;
        background-size: 302px;
    }

    .promo {
        height: 200px;
    }

    .promo-title {
        font-size: 24px;
        line-height: 30px;
    }

    .card-rest {
        min-height: 412px;
    }

    .card-title {
        font-size: 18px;
    }

    .card .rating {
        flex-basis: 100%;
    }

    .footer {
        padding: 30px;
    }

    .footer-block {
        flex-direction: column;
    }

    .footer-nav {
        margin: 20px auto;
    }
}

@media (max-width: 578px) {
    .container {
        width: 90%;
    }

    .promo {
        padding: 30px;
        background-image: none;
    }

    .promo-title {
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 25px;
    }

    .section-heading {
        justify-content: center;
    }

    .cards {
        justify-content: center;
    }

    .card {
        flex-basis: 100%;
        max-width: 384px;
    }

    .card-rest {
        min-height: 0;
    }

    .card-buttons {
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .button-icon {
        margin: 0;
    }

    .button-text {
        display: none;
    }

    .promo {
        padding: 20px;
        margin-bottom: 20px;
    }

    .section-heading {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-title {
        margin-right: 0;
    }

    .input-search {
        margin-top: 15px;
        margin-left: 0;
    }

    .card-rest-info {
        margin: 0;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-link:not(:last-child) {
        margin: 0;
    }

    .footer-link:not(:first-child) {
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    .promo {
        min-height: 280px;
    }

    .promo-text {
        max-width: 220px;
    }

    .modal-dialog-auth {
        max-width: 95%;
    }

    fieldset .modal-title {
        font-size: 25px;
    }

    .label-auth {
        margin: 10px 0;
    }

    .modal-dialog-auth .modal-footer {
        margin-top: 30px;
    }
}
