@media (max-width: 1366px) {
  .container {
    max-width: 960px;
  }

  .rating {
    margin-right: 15px;
  }

  .card-rest {
    min-height: 412px;
  }

  .card .price,
  .card .category,
  .ingredients {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .promo {
    padding: 50px;
    background-size: 800px;
    background-position: top right -225px;
  }

  .promo-title {
    font-size: 32px;
  }

  .promo-text {
    font-size: 18px;
    max-width: 400px;
  }

  .card {
    flex-basis: 48%;
  }

  .card-rest {
    flex-basis: 48%;
    min-height: 441px;
  }

  .footer-link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }

  .header {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .input-address {
    flex: 1;
    order: 3;
    margin-top: 20px;
  }

  .promo {
    background-size: 700px;
    background-position: top right -290px;
  }

  .promo-title {
    font-size: 24px;
    line-height: 30px;
  }

  .card-rest {
    min-height: 412px;
  }

  .card-title {
    font-size: 18px;
  }

  .card .rating {
    flex-basis: 100%;
  }

  .footer {
    padding: 30px;
  }

  .footer-block {
    flex-direction: column;
  }

  .footer-nav {
    margin: 20px auto;
  }
}

@media (max-width: 578px) {
  .container {
    width: 90%;
  }

  .promo {
    padding: 30px;
    background-image: none;
  }

  .promo-title {
    margin-bottom: 10px;
  }

  .section-title {
    font-size: 25px;
  }

  .section-heading {
    justify-content: center;
  }

  .cards {
    justify-content: center;
  }

  .card {
    flex-basis: 100%;
    max-width: 384px;
  }

  .card-rest {
    min-height: 0;
  }

  .card-buttons {
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .button-icon {
    margin: 0;
  }

  .button-text {
    display: none;
  }

  .promo {
    padding: 20px;
    margin-bottom: 20px;
  }

  .section-heading {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-title {
    margin-right: 0;
  }

  .input-search {
    margin-top: 15px;
    margin-left: 0;
  }

  .card-rest-info {
    margin: 0;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-link:not(:last-child) {
    margin: 0;
  }

  .footer-link:not(:first-child) {
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  .promo-text {
    max-width: 220px;
  }
}
