@media screen and (max-width: 1024px) {
  .restaurants-list-item {
    flex-basis: 48%;
  }
}

@media screen and (max-width: 768px) {
  .restaurants-top {
    flex-direction: column;
  }

  .restaurants-top .title {
    margin-bottom: 25px;
  }

  .restaurants-search {
    width: 60%;
  }

  .restaurants-list {
    justify-content: center;
  }

  .restaurants-list-item {
    margin-bottom: 35px;
    flex-basis: 75%;
  }
}
